@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400@family=Rubik:wght@300;400&display=swap');

body{
background-color: #FBDA61;
background-image: linear-gradient(65deg, #FBDA61 0%, #FF5ACD 50%, #00FFFF 110%);
background-size: 200% 100%;
animation: gradient 4s linear infinite alternate;
height: 100vh;
display: flex;
justify-content: left;
font-family: Open Sans, sans-serif;
font-size: large;
writing-mode: horizontal-rl;
display: block;
}

@keyframes gradient {
  0%  {
    background-position: 0%;    
    }
  100% {
    background-position: 100%;  
  }
}

h1 {
    color: white;
    font-family: Open Sans, sans-serif;
    font-weight: 200;
    font-size: 5rem;
    letter-spacing: 1rem;
    text-align: center;
}

h2 {
    color: white;
    font-weight: 200;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    text-align: center;
}


/* TABS */
[data-tab-content] {
  display: none;
}
/* element displayed as a block fills screen*/
.active[data-tab-content] {
  display: block;        
}
/* border line will fill whole screen horizontally*/
body {                  
  padding: 1px;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 4px solid black;
  font-weight: 600px;
}

.tab {
  cursor: pointer;
  padding: 15px;
}

.tab.active {
  background-color: transparent;
}

.tab:hover {
  background-color: white;
}

.tab-content {
  margin-left: 10px;
  margin-right: 10px;
  padding: none;
}


/*IMAGE CAROUSEL container styles */

/* Slideshow container */
.slideshow-container {
  width: auto;
  max-width: 600px;
  max-height: 250px;
  position: relative;
  margin: 0 auto;
  border: solid 3px white;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
}

.mySlides img {
 width: 600px;
 height: 250px;
}

/* Position of buttons middle edge of slideshow container*/
.slideControls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
}


#prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 3%;
  font-size: 25px;
  color: white;
  opacity: 0.8;
  cursor: pointer;
  background: transparent;
  border: none;
}
#next {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 3%;
  font-size: 25px;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
}


/* Outline style of button removed */
#prev:focus, #next:focus {
  outline: none;
  border: none;
}

/* Hover buttons transparency background color */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.9);
  color: white;
} 

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  #prev, #next {font-size: 11px}
}


